/releases/
/borehole_app/borehole_app/android/
/borehole_app/borehole_app/build/
/borehole_app/borehole_app/ios/
/borehole_app/borehole_app/macos/
/borehole_app/borehole_app/windows/
/borehole_app/borehole_app/linux/
/borehole_app/borehole_app/web/
/borehole_app/borehole_app/test/
